@import "tailwindcss";

@theme {
  --font-playfair: var(--font-playfair), serif;
  --font-elsie: var(--font-elsie), cursive;
  --font-poppins: var(--font-poppins), sans-serif;
  --font-inter: var(--font-poppins), sans-serif;

  --color-cream: #f6f3ee;
  --color-sage: #3d5a54;
  --color-gold: #c5a059;
}

:root {
  --background: #f6f3ee;
  --foreground: #2c2c2c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-playfair);
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0px;
}

.luxury-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 6rem;
}

@media (max-width: 768px) {
  .luxury-container {
    padding: 0 1rem;
  }
}